data/author_author_graph.json filter=lfs diff=lfs merge=lfs -text
*.csv !text !filter !merge !diff
*.md !text !filter !merge !diff
data/*.json filter=lfs diff=lfs merge=lfs -text
extracted/*.csv filter=lfs diff=lfs merge=lfs -text
plots/tables/*.md filter=lfs diff=lfs merge=lfs -text
