data/author_author_graph.json filter=lfs diff=lfs merge=lfs -text
data/author_language_graph.json filter=lfs diff=lfs merge=lfs -text
data/language_language_graph.json filter=lfs diff=lfs merge=lfs -text
extracted/language_nodes.csv filter=lfs diff=lfs merge=lfs -text
extracted/author_edges_all_communities.csv filter=lfs diff=lfs merge=lfs -text
extracted/author_edges_community_0.csv filter=lfs diff=lfs merge=lfs -text
extracted/author_edges_community_1_2.csv filter=lfs diff=lfs merge=lfs -text
extracted/language_edges.csv filter=lfs diff=lfs merge=lfs -text
plots/tables/author_edges_all_communities.md filter=lfs diff=lfs merge=lfs -text
plots/tables/author_edges_community_0.md filter=lfs diff=lfs merge=lfs -text
plots/tables/author_edges_community_1_2.md filter=lfs diff=lfs merge=lfs -text
plots/tables/language_edges.md filter=lfs diff=lfs merge=lfs -text
plots/tables/language_nodes.md filter=lfs diff=lfs merge=lfs -text
*.csv !text !filter !merge !diff
*.md !text !filter !merge !diff
data/*.json filter=lfs diff=lfs merge=lfs -text
extracted/*.csv filter=lfs diff=lfs merge=lfs -text
plots/tables/*.md filter=lfs diff=lfs merge=lfs -text
